<div class="content comparison">
    <div class="sticky-header">
        <h1>{{product.name}}</h1>
    </div>
    <div class="features container">
        <div class="feature-row row">
            <div class="feature-title col-sm">

            </div>
            <div ng-repeat="model in product.models" class="col-sm">
                <h3>{{model}}</h3>
            </div>
        </div>
        <div ng-repeat="feature in product.features" class="feature-row row">
            <div class="feature-title col-sm">
                {{feature.name}}
            </div>
            <div ng-repeat="model in product.models" class="feature-value col-sm">
                <div ng-bind-html="feature.value[model] | trust"></div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <ul>
        <li>
            <a ng-href="/">Back</a>
        </li>
        <li>
            <a ng-href="features/{{productId}}">Features</a>
        </li>
        <li class="active">
            <a ng-href="comparison/{{productId}}">Compare</a>
        </li>
        <li>
            <a ng-href="support/{{productId}}">Support</a>
        </li>
<!--         <li>
            <a ng-href="specialist/{{productId}}">Specialist</a>
        </li> -->
    </ul>
</footer>