<div class="content features container">
  <div class="row">
    <div class="col-sm hero">
      <div class="product-name">{{product.name}}</div>
      <div class="product-headline">{{product.headline}}</div>
      <img class="hero-image" ng-src="{{product.imageUrl}}">
      <div class="product-description">{{product.description}}</div>
    </div>
  </div>
</div>

<footer class="footer">
    <ul>
        <li>
            <a ng-href="/">Back</a>
        </li>
        <li class="active">
            <a ng-href="features/{{productId}}">Features</a>
        </li>
        <li>
            <a ng-href="comparison/{{productId}}">Compare</a>
        </li>
        <li>
            <a ng-href="support/{{productId}}">Support</a>
        </li>
<!--         <li>
            <a ng-href="specialist/{{productId}}">Specialist</a>
        </li> -->
    </ul>
</footer>