    <div class="content support">
        <h1>Welcome to Apple Support</h1>
        <p>We're here to help</p>
        <img class="support-img" src="/images/support.png">
        <p>Have questions about your {{product.name}}? Make a Genius Bar reservation</p>
    </div>

    <footer class="footer">
        <ul>
            <li>
                <a ng-href="/">Back</a>
            </li>
            <li>
                <a ng-href="features/{{productId}}">Features</a>
            </li>
            <li>
                <a ng-href="comparison/{{productId}}">Compare</a>
            </li>
            <li class="active">
                <a ng-href="support/{{productId}}">Support</a>
            </li>
<!--             <li>
                <a ng-href="specialist/{{productId}}">Specialist</a>
            </li> -->
        </ul>
    </footer>